<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096496081114-ianu95n7iobo8r68vou9oj2gi9uk4mok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096496081114-ianu95n7iobo8r68vou9oj2gi9uk4mok</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096496081114-54icmiim55ckv76t3gmmgnkp41p1crbm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWwLDFAdC2KGI7jHIS_mtkQV5DdJY0CzA</string>
	<key>GCM_SENDER_ID</key>
	<string>1096496081114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tracura.app</string>
	<key>PROJECT_ID</key>
	<string>avr-entertainment</string>
	<key>STORAGE_BUCKET</key>
	<string>avr-entertainment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096496081114:ios:b3b1c68b9feb1ba3629de3</string>
</dict>
</plist>